@import "csh-material-bootstrap/css";

.navbar .dropdown-toggle {
  display: flex !important;
  align-items: center;
  gap: 0.6rem;
}

.navbar .dropdown-toggle::after {
  border-top-color: white;
}

.datepicker-controls .btn {
  text-transform: none;
  font-weight: normal;
  border-bottom: none;
  box-shadow: none;
}
